{% extends 'base.html' %}

{% block content %}

<style>
    .custom-card {
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
        margin-right: 20px;
        margin-bottom: 20px;
        background-color: #526D82;
        color: white; 
    }

    .custom-navbar {
            background-color: #526D82; 
            color: white; 
        }

        
        .custom-dropdown {
            background-color: #183D3D; 
        }

        
        .custom-dropdown a {
            color: white; 
        }
         .page-content-container {
        padding: 20px; /* Tambahkan padding sesuai kebutuhan Anda */
    }
        body {
        background-color: #9DB2BF;
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .btn-custom {
        background-color: #0099cc;
        color: white;
    }
    .btn-custom:hover {
        background-color: #0077aa;
    }

    .navbar {
    padding: 10px 20px;

    label {
        color: black;
    }


    img {
        width: auto;
    max-width: 100%;
    height: auto;
  }

 

}


</style>

<nav class="navbar navbar-expand-lg custom-navbar">
        <a class="navbar-brand" href="#">Django Inventory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:create_item' %}  ">Add New Item</a>
                </li>
                 <li class="nav-item">
                <a class="nav-link" href="{% url 'main:logout' %}">
                    Logout
                </a>
            </li>
            </ul>
        </div>
    </nav>

       


<div  class="page-content-container">
 <h5 style="text-align: left;">Welcome : {{ name }}</h5>
    
        <h5 style="text-align: left;">Sesi terakhir login: {{ last_login }}</h5>

        <h5 style="text-align: left; "id="jumlah_item">Jumlah item di inventory saat ini: {{ items|length }}</h5>

    <div  id="item_card_deck" class="card-deck" style="display: flex; flex-direction: row; flex-wrap: wrap;">

    </div>






<br />

<a href="{% url 'main:create_item' %}">
        <button class="btn btn-custom">
            Add New Item
        </button>
    </a>


   

        <button type="button" class="btn btn-custom" data-bs-toggle="modal" data-bs-target="#exampleModal">Add Item by AJAX</button>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">Category:</label>
                        <textarea class="form-control" id="category" name="category"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Product</button>
            </div>
        </div>
    </div>
</div>

<script>
    async function getItems() {
        return fetch("{% url 'main:get_item_json' %}").then((res) => res.json())
    }

    async function refreshItems() {
        document.getElementById("item_card_deck").innerHTML = ""
         let htmlString = ""
        const items = await getItems()
        if (items.length === 0) {
    
    document.getElementById("jumlah_item").innerHTML = `Inventory kamu sedang kosong`
        }else{
           
                    items.forEach((item) => {
                        htmlString += `
                    \n<div class="card card-sm custom-card">
                        <div class="card-body">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Question_mark.png/475px-Question_mark.png" class="card-img-top" alt="Item Pics" style="width: 200px; height: 200px; margin: 10px;">
                            <h5 class="card-title">${item.fields.name}</h5>
                            <p class="card-text">Amount: ${item.fields.amount}</p>
                            <p class="card-text">Description: ${item.fields.description}</p>
                            <p class="card-text">Category: ${item.fields.category}</p>
                            <div class="d-flex justify-content-center">
                                <a href="{ url 'main:update_amount' ${item.fields.name} 'decrease' }" class="btn btn-custom" style="margin-right: 10px;"><i class="fas fa-minus"></i></a>
                                <button onclick="deleteItem('${item.fields.name}')" id="delete_button" class="btn btn-custom" style="margin-right: 10px;"><i class="fas fa-trash"></i></button>
                                <a href="{ url 'main:update_amount' ${item.fields.name} 'increase' }" class="btn btn-custom"><i class="fas fa-plus"></i></a>

                            </div>
                        </div>
                    </div>` 
                    })

                            document.getElementById("jumlah_item").innerHTML = `Jumlah item di inventory saat ini: ${items.length}`

        }

        

        document.getElementById("item_card_deck").innerHTML = htmlString
    }
    
    
    function addItem() {
        fetch("{% url 'main:add_item_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshItems)
        
        document.getElementById("form").reset()
        return false
    }

     function deleteItem(item_name) {
        fetch("{% url 'main:delete_item_ajax' %}", {
            method: "POST",
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `name=${item_name}`
        }).then(refreshItems)
        
        return false
    }

    document.getElementById("button_add").onclick = addItem

    refreshItems()
</script>


{% endblock content %}  