<h1> Django Inventory </h1>

<h5>Name: </h5>
<p>{{name}}</p>
<h5>Class: </h5>
<p>{{class}}</p>


<table border="1">
        <tr>
            <th>No.</th>
            <th>Nama Barang</th>
            <th>Kategori</th>
            <th>Amount</th>
            <th>Harga</th>
        </tr>
        <tr>
            <td>1</td>
            <td>{{item_name}}</td>
            <td>{{category}}</td>
            <td>{{amount}}</td>
            <td>{{description}}</td>
        </tr>
        <!-- Tambahkan baris-baris data lainnya sesuai kebutuhan -->
    </table>